.ipynb_checkpoints/
.ipynb_checkpoints/project-checkpoint.ipynb
.ipynb_checkpoints/project_improved-checkpoint.ipynb
project_improved copy.ipynb
.ipynb_checkpoints/project copy-checkpoint.ipynb
.ipynb_checkpoints/project copy-checkpoint.ipynb
__pycache__/mlsmote.cpython-310.pyc
.ipynb_checkpoints/project copy-checkpoint.ipynb
